.wrapper {
    display: grid;
    grid-template-columns: [col] auto;
    grid-template-rows: [row] 100px [row] minmax(100px, 593px) [row] auto [row] 50px;
}
.branding {
    grid-column: 1;
}
.mainMenu {
    grid-column: 2;
    text-align: right;
    line-height: 100px;
}
.branding, .mainMenu {
    grid-row: 1;
}
.heroImage {
    background-image: url("../assets/images/example.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    grid-row: 2;
    grid-column: 1 / span 2;
}
.overlay {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}
.overlay h1 {
    position: relative;
    top: 150px;
    left: 50px;
    color: white;
    margin: 0;
}

#boxes {
    display: grid;
    grid-row: 3;
    height: 200px;
    align-content: space-evenly;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 3rem;
    grid-column: 1 / span 2;
}
#boxes > div {
    box-shadow: 2px 2px;
    border-radius: 5px;
    padding: 10px;
    min-height: auto;
    background-color: aliceblue;

}
.footer {
    grid-row: 4;
    grid-column: 1 / span 2;
    text-align: center;
    line-height: 50px;
}
.wrapper > div{
    background-color: #eeeeee;
}
.wrapper > div:nth-child(odd) {
    background-color: #dddddd;
}

menu {
    margin: 0px;
    padding: 0px;
}
.mainMenu li {
    display: inline;
}
.mainMenu menu a {
    color: red;
}
.mainMenu ul {
    margin: 0px;
}
.mainMenu li {
    margin-left: 1rem;
}
.mainMenu  li:first-child {
    margin-left: 0rem;

}